<ion-view view-title="Scope of Work" name="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <div><small><a>TASK NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Digital Ticket Testing</label>
            <br>
            <br>
            <div><small><a>TASK TYPE</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Network Cabling</label>
            <br>
            <br>
            <div><small><a>DESCRIPTION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Lorem Impatsu si dolor amet.</label>
            <hr>
            <div><small><a>STORE NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Telstra</label>
            <br>
            <br>
            <div><small><a>LOCATION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Sydney CBD</label>
            <hr>
            <div><small><a>DEADLINE</a></small></div>
            <div><small>27 June 2016</small></div>
            <div><small style="color:red;">5 pm</small></div>
            <br>
            <div><small><a>ESTIMATE DAY/TIME OF TASK COMPLETION</a></small></div>
            <div><small>Day/s: 1 day</small></div>
            <div><small style="color:red;">Hour/s: 5 hours</small></div>
            <hr>
            <div><small><a>PRIORITY</a></small></div>
            <div><small style="color:green;">Moderate</small></div>
            <br>
            <div><small><a>CASE NUMBER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">0165849</label>
            <hr>
            <div><small><a>REPORTER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">James Dean</label><br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235 </label>
            <br><br>
            <div><small><a>REQUESTED BY</a></small></div>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br><br>
            <div><small><a>SITE/STORE CONTACT</a></small></div>
            <label class="new-label" style="margin-left: 0px;">James Dean</label><br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235 </label><br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-email"></span> james.dead@7eleven.com</label>
            <br><br>
            <button class="button add-button" ng-click="addArea(rates)">view PSD</button>
            <br>
            <!-- <hr>
            <button class="button button-block button-positive" style="margin-top:30px;" ng-click="clickToCheckout()">
                Done
            </button> -->
            
        </div>
        <br>
    </ion-content>
</ion-view>
