<ion-view view-title="Admin Profile" name="vendor-info" style="margin-top: 35px;">
<ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left"  ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-more-vertical" ng-class="{'ion-android-more-vertical': !drop, 'ion-android-more-horizontal': drop}" ng-click="showPopoveredit($event); drop = !drop"></button>
    </ion-nav-buttons> -->
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-person-outline"></i> VENDOR NAME</label>
            <div>Impatsu, Loren
                <!-- <a style="float:right;">EDIT</a> --></div>
            <br>
            <hr>
             <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-people-outline"></i> POSITION</label>
            <div>Project Lead
                <!-- <a style="float:right;">EDIT</a> --></div>
            <br>
            <hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-location-outline"></i> LOCATION</label>
            <div>Sydney, CBD
                <!-- <a style="float:right;">EDIT</a> --></div>
            <div>Melbourne, CBD
                <!-- <a style="float:right;">EDIT</a> --></div>
            <br>
            <hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-telephone-outline"></i> CONTACT NUMBER</label>
            <div>0411123236
                <!-- <a style="float:right;">EDIT</a> --></div>
            <br>
            <hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-email-outline"></i> EMAIL ADDRESS</label>
            <div>loren@impatsu.com.au
            </div>
<!--             <div class="row" style="margin-top:20px;">
                <div class="col col-50">
                    <button ng-click="clickDecline()" class="button button-block button-stable">
                        Cancel
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-positive">
                        Save Changes
                    </button>
                </div>
            </div> -->
    </ion-content>
</ion-view>
