<ion-view view-title="Admin Profile" name="vendor-info" style="">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-create" ng-click=""></button>
    </ion-nav-buttons>
    <ion-content class="padding" style="" has-header="true">
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" class="animated fadeInBounce" src="img/no-avatar.jpg">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="list form profborder" style="padding-left:30px;">
            <small><a>VENDOR NAME</a>
            </small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Impatsu, Loren</label>
            <br>
            <br>
            <small><a>POSITION</a>
            </small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Project Lead</label>
            <br>
            <br>
            <small><a>LOCATION</a>
            </small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Sydney, CBD</label>
            <br>
            <label class="new-label" style="margin-left: 0px;">Melbourne, CBD</label>
            <br>
            <br>
            <small><a>CONTACT NUMBER</a>
            </small>
            <br>
            <label class="new-label" style="margin-left: 0px;">0411123236</label>
            <br>
            <br>
            <small><a>EMAIL ADDRESS</a>
            </small>
            <br>
            <label class="new-label" style="margin-left: 0px;">loren@impatsu.com.au</label>
            <br>
        </div>
        <!--             <div class="row" style="margin-top:20px;">
                <div class="col col-50">
                    <button ng-click="clickDecline()" class="button button-block button-stable">
                        Cancel
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-positive">
                        Save Changes
                    </button>
                </div>
            </div> -->
    </ion-content>
</ion-view>
