<ion-view view-title="Certifications" name="vendor-info">
    <ion-content class="padding">
        <div class="list padding-top">
            <label class="new-label"><i class="icon ion-document"></i> ATTACH CERTIFICATE</label>
        </div>
        <div class="list list-inset">
            <label class="item item-input bortop bordbot my-drop-zone">
                <p class="stable"><i class="icon ion-plus"></i> Attach File</p>
            </label>
            <button class="button button-block button-energized icon-left ion-camera">
                Scan Certificate
            </button>
            <ion-checkbox class="checkbox-square checkboxList">
                <label class="new-label">Others</label>
            </ion-checkbox>
        </div>
        <div class="row">
            <div class="col col-50">
                <button ui-sref="certification" class="button button-block button-stable">
                    Cancel
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive">
                    Submit
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
