<ion-view view-title="Certifications" name="vendor-info">
    <ion-content class="padding">
        <div class="row">
             <label class="account-det padding-top">Do you have any certification?</label>
        </div>
        <div class="row padding-top">
            <div class="col col-50">
                <button ui-sref="certifications" class="button button-block button-positive">
                    Yes
                </button>
            </div>
            <div class="col col-50">
                <button ui-sref="certification" class="button button-block button-stable">
                    No
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
