<ion-view view-title="Scope of Work" name="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <small><a>ASSIGNEE</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span style="font-style:italic;">Fullname:</span> Lorem Impatsu Dolor</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span style="font-style:italic;">Company:</span> Lorem Impatsu Dolor</label>
            <hr>
            <small><a>TASK NAME</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Lorem Cabling</label>
            <br>
            <br>
            <small><a>TASK TYPE</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Cabling Cabling</label>
            <br>
            <br>
            <small><a>DESCRIPTION</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Lorem Impatsu si dolor amet.</label>
            <hr>
            <small><a>STORE NAME</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Telstra</label>
            <br>
            <br>
            <small><a>LOCATION</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Sydney CBD</label>
            <hr>
            <small><a>DEADLINE</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">27 June 2016</label>
            <br>
            <div><small style="color:red;">5 pm</small></div>
            <br>
            <small><a>ESTIMATE DAY/TIME OF TASK COMPLETION</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Day/s: 1 day</label>
            <br>
            <div><small style="color:red;">Hour/s: 5 hours</small></div>
            <hr>
            <small><a>PRIORITY</a></small>
            <br>
            <div><small style="color:green;">Moderate</small></div>
            <br>
            <small><a>CASE NUMBER</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">0165849</label>
            <hr>
            <small><a>REQUESTED BY</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br>
            <br>
            <small><a>SITE/STORE CONTACT</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"> +163 0215 0235</label>
           <br>
           <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-email"></span> james.dead@7eleven.com </label>
            <br>
            <br>
            <button class="button add-button" ng-click="addArea(rates)">view PSD</button>
            <br>
            <br>
            <div ng-show="user.usertype == 'proc'"><button  ui-sref="quotelist" class="button button-block button-calm" style="margin-top:10px;">
                Close Task
            </button></div>
     
            <!-- <button class="button button-block button-positive" style="margin-top:20px;">
                Approve
            </button>
            <button class="button button-block button-stable" style="margin-top:20px;">
                Decline
            </button> -->
            <!-- <div class="row" style="margin-top:0px;padding:0px;">
                <div class="col col-50">
                    <button class="button button-block button-stable">
                        Decline
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-positive">
                        Approve
                    </button>
                </div>
            </div> -->
        </div>
        <br>
    </ion-content>
</ion-view>
