<ion-view view-title="Scope of Work" name="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <small><a>TASK NAME</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Network Setup</label>
            <br>
            <br>
            <small><a>TASK TYPE</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Network Cabling</label>
            <br>
            <br>
            <small><a>DESCRIPTION</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Lorem Impatsu si dolor amet.</label>
            <br>
            <hr>
            <small><a>STORE NAME</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">7-Eleven</label>
            <br>
            <br>
            <small><a>LOCATION</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">Sydney CBD</label>
            <br>
            <hr>
            <small><a>DEADLINE</a></small>
            <br>
            <div><small>7 July 2016</small></div>
            <div style="margin-left: 0px;color:red;"><small>5 pm</small></div>
            <br>
            <small><a>ESTIMATE DAY/TIME OF TASK COMPLETION</a></small>
            <br>
            <div><small>Day/s: 1 day</small></div>
            <div><small style="color:red;">Hour/s: 5 hours</small></div>
            <hr>
            <small><a>PRIORITY</a></small>
            <br>
            <small style="margin-left: 0px;color:red;">High</small>
            <br>
            <br>
            <small><a>CASE NUMBER</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">0165849</label>
            <hr>
            <small><a>REPORTER</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-email"></span> james.dead@7eleven.com </label>
            <br>
            <br>
            <small><a>REQUESTED BY</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br>
            <br>
            <small><a>SITE/STORE CONTACT</a></small>
            <br>
            <label class="new-label" style="margin-left: 0px;">James Dean</label><br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-email"></span> james.dead@7eleven.com </label>
            <br>
            <button class="button add-button" ng-click="addArea(rates)">view PSD</button>
            <br>
            <hr>
            <!-- <button class="button button-block button-positive" style="margin-top:30px;" ui-sref="qow">
                Submit QOW
            </button> -->
            <button ng-click="clickDecline()" class="button button-block button-stable">
                Decline
            </button>
        </div>
        <br>
        <!-- <div class="row" style="margin-top:20px;">
    <div class="col col-50">
        <button ui-sref="tab.tasks" class="button button-block button-stable">
            Decline
        </button>
    </div>
    <div class="col col-50">
        <button ui-sref="vendorRate" class="button button-block button-positive">
            Submit QOW
        </button>
    </div>
</div>
 -->
    </ion-content>
</ion-view>
