<ion-view view-title="Scope of Work" name="vendor-info" style="margin-top: 35px;">
<ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left"  ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-paper-outline"></i> TASK NAME</label>
            <div><small>Digital Ticket Testing</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-list-outline"></i> TASK TYPE</label>
            <div><small>Network Cabling</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-android-clipboard"></i> DESCRIPTION</label>
            <div><small>Lorem Impatsu si dolor amet.</small></div>
            <br><hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-home-outline"></i> STORE NAME</label>
            <div><small>Telstra</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-location-outline"></i> LOCATION</label>
            <div><small>Sydney CBD</small></div>
            <br><hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-alarm-outline"></i> DEADLINE</label>
            <div><small style="color:blue;">27 June 2016</small></div>
            <div><small style="color:red;">5 pm</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-clock-outline"></i> ESTIMATE DAY/TIME OF TASK COMPLETION</label>
            <div><small style="color:blue;">Day/s: 1 day</small></div>
            <div><small style="color:red;">Hour/s: 5 hours</small></div>
            <br><hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-information-outline"></i> PRIORITY</label>
            <div><small style="color:green;">Moderate</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-grid-view-outline"></i> CASE NUMBER</label>
            <div><small>0165849</small></div>
            <br><hr>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-loop-strong"></i> REQUESTED BY</label>
            <div><small>James Dean</small></div>
            <br>
            <label class="new-label" style="margin-left: 0px;"><i class="icon ion-ios-book-outline"></i> SITE/STORE CONTACT</label>
            <div><small>James Dean</small></div>
            <div><small><span class="icon ion-ios-telephone"></span> +163 0215 0235 </small></div>
            <div><small><span class="icon ion-ios-email"></span> james.dead@7eleven.com </small></div>
            <br>
            <button class="button add-button" ng-click="addArea(rates)">view PSD</button>
            <br><hr>
            <button class="button button-block button-positive" style="margin-top:30px;" ng-click="clickToCheckin()">
                Start
            </button>
        </div>
        <br>
    </ion-content>
</ion-view>
