<ion-view view-title="Quotes List" style="background-color: #efefef;">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-gear-outline" ng-click="showPopover($event)"></button>
    </ion-nav-buttons> -->
    <ion-content style="top: 55px;background-color: #efefef;">
        <div class="linetopstyle"></div>
        <div style="font-style:italic;text-align:center;margin-bottom: 20px;">Tap quote to view full details</div>
        <div class="linetopstyle2"></div>
        <div class="card newcard animated fadeInLeft anim4">
            <div class=" row quotecard">
                <div class="col col-33 quotecardside animated fadeInLeft">
                    <div class="quotecardsidename">Lorem
                        <br>Impatsu</div>
                    <a>+639 999 9999</a>
                    <br>
                    <small>Company</small>
                    <br>
                    <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                </div>
                <div class="col col-67 quoterightcol" style="padding-top: 0;">
                    <div class="row" style="text-align: right;padding-top: 0;" ui-sref="quotedetails">
                        <div class="col col-67">
                            <small>Completion(hours):</small>
                            <br>
                            <small>Total Rate:</small>
                            <br>
                            <small>Others:</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                            <br>
                        </div>
                        <div class="col col-33">
                            <small>6 Hours</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                            <br>
                        </div>
                    </div>
                    <button class="quotesideright animated fadeInBounce" ng-click="showConfirm()">Approve</button>
                </div>
            </div>
        </div>
        <br>
        <div class="card newcard animated fadeInLeft anim4">
            <div class=" row quotecard">
                <div class="col col-33 quotecardside animated fadeInLeft">
                    <div class="quotecardsidename">Lorem
                        <br>Impatsu</div>
                    <a>+639 999 9999</a>
                    <br>
                    <small>Company</small>
                    <br>
                    <div style="margin-top: 10px;"><a>View Profile</a></div>
                </div>
                <div class="col col-67 quoterightcol" style="padding-top: 0;">
                    <div class="row" style="text-align: right;padding-top: 0;" ui-sref="quotedetails">
                        <div class="col col-67">
                            <small>Completion(hours):</small>
                            <br>
                            <small>Total Rate:</small>
                            <br>
                            <small>Others:</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                            <br>
                        </div>
                        <div class="col col-33">
                            <small>6 Hours</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                            <br>
                        </div>
                    </div>
                    <button class="quotesideright animated fadeInBounce" ng-click="showConfirm()">Approve</button>
                </div>
            </div>
        </div>
        <br>
        <div class="card newcard animated fadeInLeft anim4">
            <div class=" row quotecard">
                <div class="col col-33 quotecardside animated fadeInLeft">
                    <div class="quotecardsidename">Lorem
                        <br>Impatsu</div>
                    <a>+639 999 9999</a>
                    <br>
                    <small>Company</small>
                    <br>
                    <div style="margin-top: 10px;"><a>View Profile</a></div>
                </div>
                <div class="col col-67 quoterightcol" style="padding-top: 0;">
                    <div class="row" style="text-align: right;padding-top: 0;" ui-sref="quotedetails">
                        <div class="col col-67">
                            <small>Completion(hours):</small>
                            <br>
                            <small>Total Rate:</small>
                            <br>
                            <small>Others:</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                            <br>
                        </div>
                        <div class="col col-33">
                            <small>6 Hours</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                            <br>
                        </div>
                    </div>
                    <button class="quotesideright animated fadeInBounce" ng-click="showConfirm()">Approve</button>
                </div>
            </div>
        </div>
        <br>
        <div class="card newcard animated fadeInLeft anim4">
            <div class=" row quotecard">
                <div class="col col-33 quotecardside animated fadeInLeft">
                    <div class="quotecardsidename">Lorem
                        <br>Impatsu</div>
                    <a>+639 999 9999</a>
                    <br>
                    <small>Company</small>
                    <br>
                    <div style="margin-top: 10px;"><a>View Profile</a></div>
                </div>
                <div class="col col-67 quoterightcol" style="padding-top: 0;">
                    <div class="row" style="text-align: right;padding-top: 0;" ui-sref="quotedetails">
                        <div class="col col-67">
                            <small>Completion(hours):</small>
                            <br>
                            <small>Total Rate:</small>
                            <br>
                            <small>Others:</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                            <br>
                        </div>
                        <div class="col col-33">
                            <small>6 Hours</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small>$ 00.00</small>
                            <br>
                            <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                            <br>
                        </div>
                    </div>
                    <button class="quotesideright animated fadeInBounce" ng-click="showConfirm()">Approve</button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </ion-content>
</ion-view>
