<ion-view view-title="Application Sent" name="Application Sent" ng-init="filter.direct = true;">
    <ion-content class="padding">
        <img src="../mobile/img/send-logobags copy.png" class="sentpic"> 
        <div style="padding-left: 58px;">Your application has been sent. You will receive an update on your email.</div>
          <div style="float: right;margin-top: 50px;">proceed to <a ng-click="sent()" style="text-decoration:none;">login <span class="icon ion-ios-arrow-thin-right"></span></a></div>
        <div class="row padding-top">



          <!--   <div class="col col-50">
                <button ng-click="clickToCancel()" class="button button-block button-stable">
                    Cancel
                </button>
            </div>
            <div class="col col-50" style="margin-top: 50px;">
                <button ui-sref="login" class="button button-block button-positive">
                    Okay
                </button>
            </div> -->
        </div>
    </ion-content>
</ion-view>
