<ion-view view-title="Create Report" name="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <br>
        <div class="list form" style="padding: 10px;">
            <div><small><a>ASSIGNEE</a><a style="color:red;float:right;">17 July, 2016</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Lorem Impatsu</label>
            <br>
            <br>
            <div><small><a>TASK NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Network Cabling</label>
            <br>
            <br>
            <div><small><a>DESCRIPTION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Lorem Impatsu si dolor amet.</label>
            <hr>
            <div><small><a>STORE NAME & LOCATION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">Telstra</label>
            <br>
            <div class="row">
                <div class="col col-50" style="margin-left:-10px;">
                    <div><small><a>DEADLINE</a></small></div>
                    <div><small>27 June 2016</small></div>
                    <div><small style="color:red;">5 pm</small></div>
                </div>
                <div class="col col-50">
                    <div><small><a>ESTIMATE TASK COMPLETION</a></small></div>
                    <!-- <div><small style="color:blue;">Day/s: 1 day</small></div> -->
                    <div><small style="color:red;">Hour/s: 5 hours</small></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-75" style="margin-left:-10px;">
                    <div><small><a>TOTAL # OF HOURS SPENT:</a></small></div>
                    <div><small><a>DURING BASE HOURS:</a></small></div>
                    <div><small><a>DURING AFTER HOURS:</a></small></div>
                </div>
                <div class="col">
                    <small style="color:red;">7 Hours</small>
                    <br> <small>4 Hours</small>
                    <br> <small>3 Hours</small>
                </div>
                <hr>
            </div>
            <hr>
            <div><small><a>FINDINGS</a><small style="font-style:italic;"> (mandatory)</small></small>
            </div>
            <textarea class="reptxtarea" placeholder="If unknown, otherwise write 'unknown'" rows="4">
            </textarea>
            <br>
            <div><small><a>PHOTOS/IMAGES</a><small style="font-style:italic;"> (mandatory)</small></small>
                <br><small style="font-style:italic;">photos of the solution (including player and/or screens)</small></label>
                <br>
                <button class="addp2"><i class="icon ion-android-add"></i></button>
                <hr>
                <div><small><a>CUSTOMER SIGN-OFF</a><small style="font-style:italic;"> (mandatory)</small></small>
                    <div class="form" style="margin-left: -10px;margin-right: -10px;">
                        <div class="list list-inset">
                            <label class="item item-input item-icon-left">
                                <span class="i-con ion-ios-person-outline"></span>
                                <input type="text" ng-model="data.lname" placeholder="Last Name">
                            </label>
                            <label class="item item-input item-icon-left">
                                <span class="i-con"></span>
                                <input type="text" ng-model="data.fname" placeholder="First Name">
                            </label>
                        </div>
                        <div class="list list-inset">
                            <label class="item item-input item-icon-left">
                                <span class="i-con ion-ios-telephone-outline"></span>
                                <input type="text" placeholder="Contact Number" ng-model="data.phone" mask="(999) 999-9999" clean="true">
                            </label>
                        </div>
                        <div class="list list-inset">
                            <label class="item item-input bordbot item-icon-left">
                                <span class="i-con ion-ios-email-outline"></span>
                                <input type="email" placeholder="Email Address" ng-model="data.email">
                            </label>
                        </div>
                    </div>
                    <button class="button button-block button-energized icon-left ion-camera">
                        Get Signature
                    </button>
                    <hr>
                    <button class="button button-block button-positive" ng-click="complete()">
                        Submit Report
                    </button>
                </div>
                <br>
    </ion-content>
</ion-view>
