<ion-view view-title="Create Task" class="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-gear-outline" ng-click="showPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content class="padding form animated fadeInLeft">
        <form name="taskForm" novalidate="" ng-submit="createTask(taskForm)">
            <div class="list padding-top">
                <label class="new-label">TASK NAME</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.taskname.$invalid}">
                    <span class="i-con ion-ios-compose-outline"></span>
                    <input type="text" name="taskname" placeholder="Task Name" ng-model="task.taskname" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">TASK TYPE</small>
                </label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left item-select" style="height: 48px;" ng-class="{ 'has-errors' : taskForm.tasktype.$invalid}">
                    <span class="i-con ion-ios-list-outline"></span>
                    <select style="margin-left: -30px;background-color: transparent;" name="tasktype" ng-model="task.tasktype" required>
                        <option selected>Installation</option>
                        <option>Setup</option>
                        <option>Testing</option>
                    </select>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">DESCRIPTION</small>
                </label>
            </div>
            <label ng-class="{ 'has-errors' : taskForm.description.$invalid}">
                <div class="list list-inset" style="margin-top: -15px;">
                    <textarea class="reptxtarea" rows="4" name="description" ng-model="task.description" required>
                    </textarea>
                </div>
            </label>
            <div class="list padding-top">
                <label class="new-label">STORE NAME</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.storename.$invalid}">
                    <span class="i-con ion-ios-home-outline"></span>
                    <input type="text" placeholder="Store Name" clean="true" name="storename" ng-model="task.storename" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">
                    LOCATION</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.location.$invalid}">
                    <span class="i-con ion-ios-location-outline"></span>
                    <input type="text" placeholder="Location" name="location" ng-model="task.location" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">DEADLINE</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.specifydate.$invalid}">
                    <span class="i-con ion-ios-calendar-outline"></span>
                    <input type="text" placeholder="Specify Date" ng-click="openDatePicker(ipObj1)" name="specifydate" ng-model="newDate" required>
                </label>
            </div>
            <div class="row">
                <div class="col col-50">
                    <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.starttime.$invalid}">
                        <input type="text" placeholder="Start Time" ng-click="openTime()" name="starttime" ng-model="start" required>
                        <span class="i-con ion-clock">
            </label>

            </div>
        <div class="col col-50">
        <label class="item item-input item-icon-left"  ng-class="{ 'has-errors' : taskForm.endtime.$invalid}">
                <input type="text" placeholder="End Time" ng-click="openTime2()" name="endtime" ng-model="end" required>
                <span class="i-con ion-clock"></span>
                    </label>
                </div>
            </div>
            <div class="list padding-top">
                <label class="new-label">ESTIMATE DAY/TIME OF TASK COMPLETION</label>
            </div>
            <div class="row" style="margin-top:-20px;">
                <div class="col col-50">
                    <label class="item item-input " ng-class="{ 'has-errors' : taskForm.numdays.$invalid}">
                        <input type="number" placeholder="# of days" name="numdays" ng-model="task.numdays" required>
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input " ng-class="{ 'has-errors' : taskForm.numhours.$invalid}">
                        <input type="number" placeholder="# of hours" name="numhours" ng-model="task.numhours" required>
                    </label>
                </div>
            </div>
            <div class="list padding-top">
                <label class="new-label">PRIORITY</small>
                </label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left item-select" style="height: 48px;" ng-class="{ 'has-errors' : taskForm.priority.$invalid}">
                    <span class="i-con ion-ios-information-outline"></span>
                    <select style="margin-left: -30px;background-color: transparent;" name="priority" ng-model="task.priority" required>
                        <option selected>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">PROJECT NAME</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.storename.$invalid}">
                    <span class="i-con ion-ios-box-outline"></span>
                    <input type="text" placeholder="Project Name" clean="true" name="projectname" ng-model="task.storename" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">CASE NUMBER <small style="font-style:italic;">(If applicable)</small></label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left">
                    <span class="i-con ion-ios-copy-outline"></span>
                    <input type="number" placeholder="i.e 0162548" name="casenumber" ng-model="task.casenumber">
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">REQUESTED BY</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.requestor.$invalid}">
                    <span class="i-con ion-ios-people-outline"></span>
                    <input type="text" placeholder="Name of requestor" name="requestor" ng-model="task.requestor" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">DATE REQUESTED</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.specifydate.$invalid}">
                    <span class="i-con ion-ios-calendar-outline"></span>
                    <input type="text" placeholder="Specify Date" ng-click="openDatePicker(ipObj1)" name="specifydate" ng-model="newDate" required>
                </label>
            </div>
            <div class="list padding-top">
                <label class="new-label">SITE/STORE CONTACT</label>
            </div>
            <div class="list list-inset" style="margin-top: -15px;">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.storelname.$invalid}">
                    <span class="i-con ion-ios-person-outline"></span>
                    <input type="text" placeholder="Last Name" name="storelname" ng-model="task.storelname" required>
                </label>
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.storefname.$invalid}">
                    <span class="i-con "></span>
                    <input type="text" placeholder="First Name" name="storefname" ng-model="task.storefname" required>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input item-icon-left" ng-class="{ 'has-errors' : taskForm.storeconnum.$invalid}">
                    <span class="i-con ion-ios-telephone-outline"></span>
                    <input type="number" placeholder="Contact Number" name="storeconnum" ng-model="task.storeconnum" required>
                </label>
            </div>
            <div style="margin-top:10px;"><small style="font-style:italic;margin-left:10px;">(Attach PSD file if applicable)</small>
                <button class="button add-button" ng-click="addSched(rates)" style="margin-top:0px;">Attach PSD</button>
            </div>
            <br>
            <hr>
            <h4 class="new-label padding-top">ASSIGN TO CONTRACTOR/S</h4>
            <div class="list padding-right padding-left">
                <ion-checkbox class="checkbox-square checkboxList">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
            </div>
            <a style="float:right;margin-right:10px;margin-top: -15px;" ng-click="openModal()"><small>CLICK HERE TO VIEW FULL LIST</small></a>
            <br>
            <hr>
            <div class="row">
                <div class="col col-50">
                    <button ng-click="showCancel()" class="button button-block button-stable">
                        Cancel
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-positive" type="submit" ng-click="tasksend($event)">
                        Send
                    </button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </form>
    </ion-content>
</ion-view>
