<ion-view view-title="Create Task" class="vendor-info" style="margin-top: 35px;">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-gear-outline" ng-click="showPopoveradmin($event)"></button>
    </ion-nav-buttons>
    <ion-content class="padding form">
        <div class="list padding-top">
            <label class="new-label">TASK NAME</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input">
                <input type="text" placeholder="Task Name">
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label">TASK TYPE</small>
            </label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input item-select" style="height: 48px;">
                <select style="padding-left: 15px;">
                    <option selected>Installation</option>
                    <option>Setup</option>
                    <option>Testing</option>
                </select>
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label">DISCRIPTION</small>
            </label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <textarea class="reptxtarea" placeholder="If unknown, otherwise write 'unknown'" rows="4">
            </textarea>
        </div>
        <div class="list padding-top">
            <label class="new-label">STORE NAME</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input ">
                <input type="text" placeholder="Store Name" clean="true">
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label"><span class=" ion-ios-location-outline"></span> LOCATION</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input ">
                <input type="text" placeholder="Location">
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label"><span class=" ion-clock"></span> DEADLINE</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input item-icon-left">
                <input type="text" placeholder="Specify Date" ng-click="openDatePicker(ipObj1)">
                <span class="i-con ion-ios-calendar-outline">
            </label>
           
        </div>
        <div class="row">
            <div class="col col-50">
            <label class="item item-input item-icon-left" style="border-radius:6px;">
                <input type="text" placeholder="Start Time" ng-click="openTime()">
                <span class="i-con ion-clock">
            </label>
            </div>
        <div class="col col-50">
        <label class="item item-input item-icon-left" style="border-radius:6px;">
                <input type="text" placeholder="End Time" ng-click="openTime()">
                <span class="i-con ion-clock"></span>
            </label>
        </div>
        </div>
        <div class="list padding-top">
            <label class="new-label"><span class=" ion-ios-time-outline"></span> ESTIMATE DAY/TIME OF TASK COMPLETION</label>
        </div>
        <div class="row" style="margin-top:-10px;">
            <div class="col col-50">
                <label class="item item-input " style="border-radius:6px;">
                    <input type="text" placeholder="# of days">
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input " style="border-radius:6px;">
                    <input type="text" placeholder="# of hours">
                </label>
            </div>
        </div>
        <div class="list padding-top">
            <label class="new-label">PRIORITY</small>
            </label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input item-select" style="height: 48px;">
                <select style="padding-left: 15px;">
                    <option selected>Low</option>
                    <option>Moderate</option>
                    <option>High</option>
                </select>
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label">CASE NUMBER <small style="font-style:italic;">(If applicable)</small></label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input">
                <input type="text" placeholder="i.e 0162548" mask="9999999">
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label">REQUESTED BY</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input">
                <input type="text" placeholder="Name of requestor">
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label">SITE/STORE CONTACT</label>
        </div>
        <div class="list list-inset" style="margin-top: -10px;">
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Contact Number">
            </label>
        </div>
        <div style="margin-top:10px;"><small style="font-style:italic;margin-left:10px;">(Attach PSD file if applicable)</small>
            <button class="button add-button" ng-click="addSched(rates)" style="margin-top:0px;">Attach PSD</button>
        </div>
        <br>
        <hr>
        <h4 class="new-label padding-top"><i class="icon ion-ios-person-outline"></i> ASSIGN TO CONTRACTOR/S</h4>
        <div class="list padding-right padding-left">
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.one">
                <small>REID, JAMES</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.two">
                <small>REID, JAMES</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.three">
                <small>SMITH, JAMES</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.four">
                <small>SMITH, JAMES</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.five">
                <small>SMITH, JAMES</small>
            </ion-checkbox>
        </div>
        <a style="float:right;margin-right:10px;" ng-click="openModal()"><small>CLICK HERE TO VIEW FULL LIST</small></a><br><hr>
        <div class="row">
            <div class="col col-50">
                <button ng-click="showCancel()" class="button button-block button-stable">
                    Cancel
                </button>
            </div>
            <div class="col col-50">
                <button  class="button button-block button-positive">
                    Send
                </button>
            </div>
        </div>
        <br>
        <br><br><br>
    </ion-content>
</ion-view>
