<ion-view view-title="Reporting" style="background-color: #efefef;">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-ios-gear-outline" ng-click="showPopoveradmin($event)"></button>
    </ion-nav-buttons>
    <ion-content style="top: 55px;background-color: #efefef;">
        <label class="new-label" style="margin-top:20px;"><i class="icon ion-ios-pie-outline"></i> NEW REPORTS <a style="float: right;margin-right: 10px;">VIEW ALL</a></label>
        <div class="card newcard">
            <!-- card start -->
            <div class=" taskcardwhite">
                <div class="card-sidepad" style="background-color:transparent;"></div>
                <div class="cardin">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: -75px;">
                        <div class="card-lbl">Reid, Robert James</div>
                        <p class="card-lblp">Hardware Installattion</p>
                        <p class="card-lblp" style="margin-top: -5px;">27 June 2016</p>
                    </div>
                    <button class="btn-flat btn-done" style="margin-top: -30px;width: 75px;font-size: 10px;">DOWNLOAD</button>
                </div>
            </div>
            <div class=" taskcardwhite">
                <div class="card-sidepad" style="background-color:transparent;"></div>
                <div class="cardin">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: -75px;">
                        <div class="card-lbl">Roberts, Johnny</div>
                        <p class="card-lblp">Network Setup</p>
                        <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    </div>
                    <button class="btn-flat btn-done" style="margin-top: -30px;width: 75px;font-size: 10px;">DOWNLOAD</button>
                </div>
            </div>
            <!-- endcard -->
        </div>
        <label class="new-label" style="margin-top:20px;"><i class="icon ion-ios-plus-outline"></i> OTHERS <a style="float: right;margin-right: 10px;">VIEW ALL</a></label>
        <div class="card newcard">
            <!-- card start -->
            <div class=" taskcardwhite">
                <div class="card-sidepad" style="background-color:transparent;"></div>
                <div class="cardin">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: -75px;">
                        <div class="card-lbl">Reynold, Ralph</div>
                        <p class="card-lblp">Software Installation</p>
                        <p class="card-lblp" style="margin-top: -5px;">27 July 2016</p>
                    </div>
                    <button class="btn-flat btn-done" style="margin-top: -30px;width: 75px;font-size: 10px;">DOWNLOAD</button>
                </div>
            </div>
            <div class=" taskcardwhite">
                <div class="card-sidepad" style="background-color:transparent;"></div>
                <div class="cardin">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: -75px;">
                        <div class="card-lbl">Roberts, Johnny</div>
                        <p class="card-lblp">Network Setup</p>
                        <p class="card-lblp" style="margin-top: -5px;">17 July 2016</p>
                    </div>
                    <button class="btn-flat btn-done" style="margin-top: -30px;width: 75px;font-size: 10px;">DOWNLOAD</button>
                </div>
            </div>
            <div class=" taskcardwhite">
                <div class="card-sidepad" style="background-color:transparent;"></div>
                <div class="cardin">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: -75px;">
                        <div class="card-lbl">Jolly, Bean</div>
                        <p class="card-lblp">Network Setup</p>
                        <p class="card-lblp" style="margin-top: -5px;">17 July 2016</p>
                    </div>
                    <button class="btn-flat btn-done" style="margin-top: -30px;width: 75px;font-size: 10px;">DOWNLOAD</button>
                </div>
            </div>
            <!-- endcard -->
        </div>
    </ion-content>
</ion-view>
