<div class="ngdialog-message" style="margin-top:-20px;">
    <h4>Check-out to complete task</h4>
    <hr>
    <div class="row animated fadeInBounce">
        <div class="col col-33" style="">
            <div class="dialoglab">CHECK IN</div>
            <br>
            <div class="dialoglab2">8:30 AM</div>
        </div>
        <div class="col col-33" style=" text-align: center;">
            <label class="toggle">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="col col-33" style="">
            <div class="dialoglab" style="float:left;">CHECK OUT</div>
            <br>
            <div class="dialoglab2" style="float:left;color: #848484;">5:37 PM</div>
        </div>
    </div>
</div>