<ion-modal-view style="margin-top:45px;">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">List of Completed Task</h1>
        <button class="button button-clear button-primary" ng-click="closecompletedModal()">Close</button>
    </ion-header-bar>
    <ion-content style="margin-left:0px;margin-bottom:10px;margin-top:35px;">
        <ion-list show-delete="false" can-swipe="true">
            <ion-item style="height: 90px;" ng-repeat="list in tasklist" ng-if="list.Task == 'complete'">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: #c10606;" ng-if="list.Status === 'High'"></div>
                <div class="card-sidepad" ng-if="list.Status === 'Medium'"></div>
                <div class="card-sidepad" style="background-color: #ece505;" ng-if="list.Status === 'Low'"></div>
                <div class="cardin">
                    <div class="card-lbl">{{list.Title}}</div>
                    <p class="card-lblp">({{list.Description}})</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> {{list.Status}}</small></p>
                        </div>
                    </div>
                </div>
                <ion-option-button ng-if="user.usertype=='proc'" class="button button-assertive"  style="padding: 26px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-round"></i></div><div>Close</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button class="button button-assertive" ng-click="pendingDetails($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
            <ion-item style="height: 90px;">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad"></div>
                <div class="cardin">
                    <div class="card-lbl">AV-Installation</div>
                    <p class="card-lblp">(Telstra, Melbourne)</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> Medium</small></p>
                        </div>
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-android-calendar"></i> {{date | date:'longDate'}}</small></p>
                        </div>
                    </div>
                </div>
                <ion-option-button ng-if="user.usertype=='proc'" class="button button-assertive"  style="padding: 26px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-round"></i></div><div>Close</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="detailsM($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
            <ion-item style="height: 90px;">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: #ece505;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">(Telstra, Melbourne)</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> Low</small></p>
                        </div>
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-android-calendar"></i> {{date | date:'longDate'}}</small></p>
                        </div>
                    </div>
                </div>
                <ion-option-button ng-if="user.usertype=='proc'" class="button button-assertive"  style="padding: 26px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-round"></i></div><div>Close</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="detailsL($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <!--  <div style="text-align:center;"><small style="font-style:italic;"> <a> (Tap task to view details <img src="img/tap.svg" style="width: 5%;
    margin-bottom: -5px;">)</a></small></div>
        <div class="card newcard animated fadeInLeft anim7">
            <div class=" taskcardwhite" ng-click="comptask($event)">
                <div class="card-sidepad" style="background-color: transparent;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                </div>
            </div>
            <button ng-if="user.usertype == 'proc'" class="btn-flat btn-done animated fadeInBounce" style="margin-top:-40px;background-color:#c10606;margin-right:15px;" ng-model="model" ng-click="clickme()">CLOSE</button>
        </div>
        <div class="card newcard animated fadeInLeft anim7">
            <div class=" taskcardwhite" ng-click="comptask($event)">
                <div class="card-sidepad" style="background-color: transparent;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">Telstra</p>
                    <p class="card-lblp" style="margin-top: -5px;">17 July 2016</p>
                </div>
            </div>
            <button ng-if="user.usertype == 'proc'" class="btn-flat btn-done animated fadeInBounce" style="margin-top:-40px;background-color:#c10606;margin-right:15px;" ng-model="model" ng-click="clickme()">CLOSE</button>
        </div>
        <div class="card newcard animated fadeInLeft anim7">
            <div class=" taskcardwhite" ng-click="comptask($event)">
                <div class="card-sidepad" style="background-color: transparent;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                </div>
            </div>
            <button ng-if="user.usertype == 'proc'" class="btn-flat btn-done animated fadeInBounce" style="margin-top:-40px;background-color:#c10606;margin-right:15px;" ng-model="model" ng-click="clickme()">CLOSE</button>
        </div> -->
    </ion-content>
</ion-modal-view>
