<ion-modal-view style="margin-top: 45px;">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">List of Contractor/s</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list" style="margin-top: 50px;">
            <!--  <h4 class="new-label padding-top"><i class="ion-ios-list-outline"></i> List of available contractor</h4> -->
            <div class="list padding-right padding-left">
                <ion-checkbox class="checkbox-square checkboxList" ng-model="q">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="w">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="e">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="r">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="t">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="y">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="u">
                    <small>REID, JAMES</small>
                </ion-checkbox>
                <ion-checkbox class="checkbox-square checkboxList" ng-model="i">
                    <small>SMITH, JAMES</small>
                </ion-checkbox>
            </div>
            <!--  <button class="button button-primary" ng-click="modal.hide()" style="float: right;">Close</button> -->
        </div>
    </ion-content>
</ion-modal-view>
