<div class="">
    <h4></h4>
    <!-- <div class="row">
        <div class="col col-33" style="">
            <div class="dialoglab">CHECK IN</div>
            <br>
            <div class="dialoglab2">8:30 AM</div>
        </div>
        <div class="col col-33" style=" text-align: center;">
            <label class="toggle">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="col col-33" style="">
            <div class="dialoglab" style="float:left;">CHECK OUT</div>
            <br>
            <div class="dialoglab2" style="float:left;color: #848484;">5:37 PM</div>
        </div>
    </div> -->
    <div>You are currently check-in to 3 task.
        <br> Please check-out.</div>
</div>
<!-- <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary left" ng-click="closeThisDialog('Cancel')" style="float:left;margin-left: 0px;">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Save')">Okay</button>
</div>
 -->