<ion-popover-view style="background-color:transparent;">
    <ion-content>
        <div class="list">
            <div ng-click="editpro($event)" class="item" style="text-align:center;">
                Edit Profile
            </div>
            <div ng-click="editavailability($event)" class="item" style="text-align:center;">
                Edit Availability
            </div>
            <div ng-click="editrate($event)" class="item" style="text-align:center;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;">
                Edit Rate
            </div>
        </div>
    </ion-content>
</ion-popover-view>
