<ion-modal-view style="margin-top:45px;">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 ng-if="user.usertype == 'con'" class="title">List of New Task</h1>
        <h1 ng-if="user.usertype == 'proc'" class="title">For Approval Task</h1>
        <button class="button button-clear button-primary" ng-click="closenewtaskModal()">Close</button>
    </ion-header-bar>
    <ion-content style="margin-left:0px;margin-bottom:10px;margin-top:35px;">
        <ion-list show-delete="false" can-swipe="true">
            <ion-item style="height: 90px;">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad"></div>
                <div class="cardin">
                    <div class="card-lbl">AV-Installation</div>
                    <p class="card-lblp">(Telstra, Melbourne)</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> Medium</small></p>
                        </div>
                    </div>
                </div>
                <ion-option-button ng-if="user.usertype=='proc'" class="button button-energized" ng-click="qowlist($event)" style="padding: 27px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>View</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-energized" ng-click="newTaskqow($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>Submit</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-stable" ng-click="delete3()" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-circled"></i></div><div>Decline</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="detailsM($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
            <ion-item style="height: 90px;">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: #ece505;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">(Telstra, Melbourne)</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> Low</small></p>
                        </div>
                    </div>
                </div>
                <ion-option-button ng-if="user.usertype=='proc'" class="button button-energized" ng-click="qowlist($event)" style="padding: 27px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>View</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-energized" ng-click="newTaskqow($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>Submit</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-stable" ng-click="delete3()" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-circled"></i></div><div>Decline</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="detailsL($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
            <ion-item style="height: 90px;">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: #ece505;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">(Telstra, Melbourne)</p>
                    <div class="row" style="margin-top:-5px;">
                        <div class="col">
                            <p><small><i style="color:#0f6ab5;" class="ion-alert-circled"></i> Low</small></p>
                        </div>
                    </div>
                </div>
                 <ion-option-button ng-if="user.usertype=='proc'" class="button button-energized" ng-click="qowlist($event)" style="padding: 27px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>View</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-energized" ng-click="newTaskqow($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-compose"></i></div><div>Submit</div> <div>QOW</div></small>
                </ion-option-button>
                <ion-option-button ng-if="user.usertype=='con'" class="button button-stable" ng-click="delete3()" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-close-circled"></i></div><div>Decline</div> <div>Task</div></small>
                </ion-option-button>
                <ion-option-button  class="button button-balanced" ng-click="detailsL($event)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <!-- <div style="text-align:center;"><small style="font-style:italic;"> <a> (Tap task to view details <img src="img/tap.svg" style="width: 5%;margin-bottom: -5px;">)</a></small></div>
        <div class="card newcard animated fadeInLeft anim 6">
            <div class=" taskcardred" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #c10606;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button>
                </div>
            </div>
        </div>
        <div class="card newcard animated fadeInLeft anim 6">
            <div class=" taskcardred" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #c10606;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button>
                </div>
            </div>
        </div>
        <div class="card newcard animated fadeInLeft anim 6">
            <div class=" taskcardyellow" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #ece505;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">Telstra</p>
                    <p class="card-lblp" style="margin-top: -5px;">17 July 2016</p>
                    <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button>
                </div>
            </div>
        </div> -->
    </ion-content>
</ion-modal-view>
