<ion-popover-view style="background-color:transparent;">
    <ion-content>
        <div class="list">
            <div class="item droplist">
                <img src="img/no-avatar.jpg" class="img-circle center dropaccout" alt="User Image">
                <div>Loren Impatsu</div>
                <small>PM since July. 2016</small>
            </div>
            <div ng-click="adminproFile($event)" class="item" style="text-align:center;">
                Profile
            </div>
            <div ng-click="signOut($event)" class="item" style="text-align:center;">
                Signout
            </div>
        </div>
    </ion-content>
</ion-popover-view>